*{
  box-sizing: border-box;
}


.container, .main-header, .main-nav, .head-left{
  display: flex;
}

body{
  text-align: center;
  margin: 0 auto;
}

.main-header{
  background-color: pink;
  flex-direction: row;
  justify-content: space-space-between;
}


.item{
  padding: 20px;
  background-color: red;
  margin: 5px;
}


.container{
  padding: 10px;
  margin: 10px;
  background-color: blue;
  justify-content: center;
  flex-wrap: wrap;

}


.box{
  padding: 50px;
  margin: 3px;
  background-color: lightblue;
  flex-grow: 1;
  flex-basis: 500px;
}

.logo{
  transition-duration: 0.2s;
  position: absolute;
}

/* ============== */

@media(min-width: 1px){
  .main-header{
    flex-direction: row;
    justify-content: space-between;
  }
}


@media(min-width: 1199px){
  body{
    width: 1200px;
  }
}


/* ============== */

.logo:hover{

  background-color: blue;

}


/* ============== */


.move{
  animation: xd 5s 1;
}

@keyframes xd{
  0%{
    top: 0;
  }
  50%{
    top: 10px;
  }

  90%{
    top:20px;
  }

  100%{
    top: 400px;
  }
}
