h1 hello welcome is time to steal your Personal information. SO PLZ SIGN UP!!
form(action="/sign" method='post')
    h2 email
    input(typr='text', name='email')
    h2 password
    input(typr='text', name='password')
    button(type='submit') sign up!